<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Todo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/todos">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/todos/create">Add a Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </li>
    </ul>
  </div>
</nav>




        {% for todo in todos %}
            <div class="todo-item">
                <h5><a href="{% url 'details' todo.id %}">{{ todo.title }}</a></h5>
                <p>{{ todo.text }}</p>
                <p>Current Status: {{ todo.current_status }}</p>
                {% endfor %}

            </div>

















